.jumbotron {
  margin-top: 0px;
  font-family: 'Lobster', cursive;
  background: linear-gradient(#9a9a9a, #dafcff);
}

.input {
  font-family: 'Khula', sans-serif;
}

.center{
  text-align: center;
}

body{
  background-color: #dafcff;
}
