<h1 class="jumbotron center">What is That Word?</h1>
<div class="container">
  <h2>Take a Guess!<h2>
  <br>
  <h3 class = "output center">$newReplace</h3>
  <br>
  <br>
  <form action = "/detector2" method='get'>
    <div class="form-group">
      <input id="input" name = "userinput" class =  "form-control center" type="text"></input>
    </div>
    <center><button type ="submit" class="btn btn-success">Solve!</button></center>
  </form>
</div>
